@charset "UTF-8";
 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cascadia code',arial;
}

body{

  background-color: rgb(134, 134, 239);
}

header{
 color: #fff;
 text-align: center;
 
}

h1{
  margin: 15px auto 15px auto;
}

section{

  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  text-align: center;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349);
  
}

footer{
  color: #fff;
  text-align: center;
  font-style: italic;
  margin-top: 50px;

}
 div#msg{
  padding: 10px;
  font-size: 20px;
  padding: 15px;

 }

img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
